    <ion-view title="" cache-view="false">
        <ion-content ng-controller="TodosCtrl">
            <form ng-submit="createList(task)">

                    <label class="item item-input">

                        <input type="text" placeholder="List Name" ng-model="task.name">
                    </label>


                <div class="padding">
                    <button type="submit" class="button button-block button-calm">Add List</button>
                </div>
            </form>

        </ion-content>
    </ion-view>
