
    <ion-view title="Todos" id="snow" cache-view="false">
        <ion-nav-buttons side="right">
           <!-- <button class="button button-calm" ui-sref="todos.createlist">
                <i class="ion-plus-round"></i>
            </button>-->
        </ion-nav-buttons>
        <ion-content>
            <!--<ion-toggle ng-model="shouldShowDelete">
                Edit
            </ion-toggle>-->
                <form ng-submit="createList(task)">
                    <div class="item item-input-inset">
                     <label class="item-input-wrapper">
                      <input type="text" placeholder="List Name" ng-model="task.name" class="textbox">
                    </label>
                    <button type="submit" class="button button-small button-calm">Add List</button>
                </div>
                
            </form>
            <ion-list can-swipe="true"  show-delete="false"
                      show-reorder="false">
            

                <ion-item ng-repeat="todo in todos.rows" class="item item-trns "  href="#/todos/detail/{{todo.id}}">

              {{todo.name}}

                    <ion-option-button class="button-positive"
                                       ng-click="share(item)">
                       Share
                    </ion-option-button>

                    <ion-option-button class="button-assertive"
                                       ng-click="removeItem($index,todo.id)">
                        Remove
                    </ion-option-button>

                    <!--
                    <ion-option-button class="button-light icon ion-heart"></ion-option-button>
                    <ion-option-button class="button-light icon ion-email"></ion-option-button>
                    <ion-option-button class="button-assertive icon ion-trash-a"></ion-option-button>-->
                </ion-item>

            </ion-list>

        </ion-content>

    </ion-view>


