/* Empty. Add your own CSS if you like */
body
{
  cursor: url("http://ionicframework.com/img/finger.png"), auto;
}

.done
{
  text-decoration: line-through;
}

.background, .background .pane, .background .item, .background .item-complex .item-content {
    background-color: #f1f2f3;
    background-image: radial-gradient(
            white,
            #f0f0f0
    );
}
